.categories {
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
  padding: 10px;
}

.categories p {
  font-family: "Source Sans Italic Light";
}

.category-name {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.sub-category {
  display: flex;
  flex-wrap: wrap;
}

.sub-category li {
  padding-right: 1.5rem;
}

@media (max-width: 480px) {
  .categories {
    flex-direction: column;
    padding: 10px 20px;
  }
}